# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

flake8
black
git+https://github.com/savoirfairelinux/flake8-copyright.git@b84cae576875d5d73436a372c1535fbfb0f89a95
pytest
pytest-mock
pyyaml
tenacity<8.1
requests
