name: CI
on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pipx install tox
    - name: Lint code
      run: tox -vve lint
  unit:
    name: Unit Test
    runs-on: ubuntu-24.04
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pipx install tox
    - name: Run unit tests
      run: tox -e unit
  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    with:
      charm-path: .
  integration:
    name: Integration Tests
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        test-type: [integration, integration-ambient]
    steps:
    - name: Maximise GH runner space
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be

    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pipx install tox

    - name: Setup environment
      run: |
        sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
        sudo rm -rf /run/containerd
        sudo snap install concierge --classic
        sudo concierge prepare --trace
    - name: Run ${{ matrix.test-type }} tests
      run: tox -vve ${{ matrix.test-type }} -- --model testing

    - name: Get all
      run: kubectl get all -A
      if: failure()
    - name: Describe statefulset
      run: kubectl describe statefulsets -n testing
      if: failure()
    - name: Get statefulset
      run: kubectl get statefulsets -n testing -o yaml
      if: failure()
    - name: Describe Pods
      run: kubectl describe pods -n testing
      if: failure()
    - name: Get Pods
      run: kubectl get pods -n testing -o yaml
      if: failure()
    - name: Describe PVCs
      run: kubectl describe pvc -n testing
      if: failure()
    - name: Get PVCs
      run: kubectl get pvc -n testing -o yaml
      if: failure()
    - name: Get juju status
      run: juju status
      if: failure()
    - name: Get workload logs
      run: kubectl logs -n testing --tail 1000 -lapp.kubernetes.io/name=minio -c minio
      if: failure()
    - name: Get operator logs
      run: kubectl logs -n testing --tail 1000 -lapp.kubernetes.io/name=minio -c charm
      if: failure()
