name: CI

on:
  - push
  - pull_request

jobs:
  lint:
    name: Lint Check
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        pip install tox
    - name: Lint code
      run: tox -vve lint

  unit:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          pip install tox

      - name: Run unit tests
        run: tox -vve unit

  integration:
    name: Integration Test (deploy and access)
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s

      # TODO: Remove once the actions-operator does this automatically
      - name: Configure kubectl
        run: |
          sg microk8s -c "microk8s config > ~/.kube/config"

      - name: Build and test
        run: |
          sg microk8s -c "tox -vve integration -- --model testing"

      # On failure, capture debugging resources
      - name: Get all
        run: kubectl get all -A
        if: failure()

      - name: Get juju status
        run: juju status
        if: failure()

      - name: Get minio logs
        run: kubectl logs --tail 100 -n testing -ljuju-app=minio
        if: failure()

      - name: Get minio operator logs
        run: kubectl logs --tail 100 -n testing -ljuju-operator=minio
        if: failure()
