# reusable workflow triggered by other actions
name: Publish

on:
  workflow_call:
    secrets:
      charmcraft-credentials:
        required: true

jobs:

  lib-check:
    name: Check libraries
    runs-on: ubuntu-latest
    if: (github.repository_owner == 'canonical') && (github.event.pull_request.merged == true)
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@1.0.3
        with:
          credentials: "${{ secrets.charmcraft-credentials }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  publish-charm:
    name: Publish Charm
    runs-on: ubuntu-latest
    # Only publish to charmhub if we are pushing to a special branch or running PRs from something named `branch/*`
    if: ((github.event_name == 'push') ||  (startsWith( github.head_ref, 'branch/' ))) && (github.repository_owner == 'canonical') && (github.event.pull_request.merged == true)
    needs: lib-check
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Select charmhub channel
        uses: canonical/charming-actions/channel@1.0.3
        id: channel
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@1.0.3
        with:
          credentials: "${{ secrets.charmcraft-credentials }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: "${{ steps.channel.outputs.name }}"
